/* 设置边框颜色 */
.el-checkbox.is-bordered {
    border-color: rgba(0, 153, 153, 0.5);
}
.el-checkbox.is-bordered.is-checked {
    border-color: #009999;
}

/* 设置选中后的文字颜色 */
.el-checkbox .el-checkbox__input.is-checked+.el-checkbox__label {
    color: #009999;
}

/* 设置选中后对勾框的边框和背景颜色 */
.el-checkbox .el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox .el-checkbox__input.is-indeterminate .el-checkbox__inner {
    border-color: #009999;
    background-color:#009999;
}

/* 设置checkbox获得焦点后，对勾框的边框颜色 */
.el-checkbox .el-checkbox__input.is-focus .el-checkbox__inner{
    border-color: #009999;
}

/* 设置鼠标经过对勾框，对勾框边框的颜色 */
.el-checkbox .el-checkbox__inner:hover{
    border-color: #009999;
}
